@media screen and (max-width: 768px) {
  .center-intro {
    h1 {
      font-size: 1.5em;
    }
  }
  .skills-right {
    margin-right: 0;
  }
  .skills-left {
    margin-left: 0;
  }

  .links-intro {
    img {
      padding: 1rem 1rem;
      transform: scale(0.8);
    }
  }
}
