@import "config";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Orbitron", sans-serif;
  background-color: $primary-backround;
  color: $primary-font;
}

nav {
  justify-content: right;
  padding: 25px;
}

.center-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lighten($primary-backround, 10%);
  border: 5px solid #ffd151;
  text-align: left;
  padding: 1rem;

  h1 {
    text-align: left;
    font-size: 2rem;
  }
}

.hidden {
  display: none;
}

.down {
  position: absolute;
  margin-top: 90vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills {
  position: absolute;
  margin-top: 110vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

@import "responsive";
