@import "config";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-height: 100vh;
}

body {
  font-family: "Orbitron", sans-serif;
  background-color: $primary-backround;
  color: $primary-font;
}

nav {
  padding: 25px;
}

div {
  .container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .center-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lighten($primary-backround, 10%);
    border: 5px solid #ffd151;
    text-align: left;
    padding: 1em;

    .container-modal {
      display: absolute;
    }

    .links-intro {
      img {
        padding: 1rem 1rem;
      }
    }

    .modal-one {
      position: absolute;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: lighten($primary-backround, 10%);
      border: 5px solid #ffd151;
      text-align: left;
      padding: 1em;
      z-index: 10;
    }
    .modal-two {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: lighten($primary-backround, 10%);
      border: 5px solid #ffd151;
      text-align: left;
      padding: 1em;
      z-index: 10;
    }
    .modal-three {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: lighten($primary-backround, 10%);
      border: 5px solid #ffd151;
      text-align: left;
      padding: 1em;
      z-index: 10;
    }

    .exit {
      cursor: pointer;
    }

    flex-box {
      shift-right {
        position: absolute;
        left: 95%;
      }
    }
  }

  h1 {
    text-align: left;
    font-size: 2em;
  }
}

.skills-container {
  position: absolute;
  top: 75%;
  left: 5%;
}

.projects-container {
  position: absolute;
  top: 75%;
  right: 3%;
  z-index: 0;
}

button {
  display: block;
  width: 150px;
  color: black;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  background-color: darken($primary-backround, 25%);
  border-radius: 10px;
}

.hidden {
  display: none;
}

.blur {
  filter: blur(1.5rem);
}

.links-small {
  display: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@import "responsive";
